@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

header {
  background: #fff;
  padding: 20px 40px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LOGO */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: #392671;
}

.logo i {
  font-size: 32px;
  color: #d63eb5;
}

/* MENU */
.menu {
  display: flex;
  gap: 40px;
}

.menu a {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #392671;
  transition: 0.3s;
}

.menu a:hover {
  color: #d63eb5;
}
